$primaryColor: #ea7900; /* ボタンとか  */
$lightColor: #fbba8b; /* 背景とか */
$darkColor: #844603; /* 濃くしたいとき。文字とか */

$secondColor: #033789;
$secondLightColor: #c4d2ea;
$secondDarkColor: #001d6c;

$thirdLightColor: #bee1e1;
